<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Contact List</title>
<style>
    body {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        justify-content: center;
        align-items: center;
    }
    .list-group {
        width: 50%
    }
    .list-group-item {
        text-align: center
    }
    .btn {
        width: 40%
    }

</style>
</head>
<body>
<ul class="list-group">
    <h1 class="display-5"> Contacts List </h1>
    <a  href="/contacts/create" class="btn btn-primary">Add Contact</a>
{% for contact in object_list %}
  <a href="/contacts/{{contact.id}}">
    <li class="list-group-item">{{ contact.name }}</li>
  </a>
{% endfor %}

</ul>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>



